@charset "utf-8";

/* ページ全体に関わるcssの設定 */
html *,
::before,
::after{
    box-sizing: border-box;
}

/* スムーズスクロール */
html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
	font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  /* background: #1a001a; */
	
	width: 100%;
	height: 100%;
	background:linear-gradient(45deg, #40057a,#1a001a,#823fee);
	background-size: 200% 200%;
	animation: bggradient 15s ease infinite;
}

@keyframes bggradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}

/* ----------ページ内common---------- */
:root {
  --base-color: #303; /* ベースカラー（濃紫）*/
	--main-color: #60c; /* メインカラー（紫）*/
  --sub-color: #fff836; /* サブカラー（黄） */
}

main {
  margin: 0;
}

section {
  margin: 32px auto 0;
	width: 80%;
}

section p {
	padding: 8px;
}

h1 {
  margin: auto 0;
}

h2 {
  font-size: 32px;
  margin: 0;
	font-family: 'Limelight', cursive;
	color: #fff;
	border-bottom: 2px solid var(--sub-color);
	border-image: linear-gradient(to right, var(--sub-color) 0%, #1a001a 100%);
  border-image-slice: 1;
}

h3 {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
}

.moon {
  text-align: center;
  color: var(--sub-color);
  letter-spacing: 1.2rem;
  margin: 16px 0;
}

.marker {
  font-weight: bold;
  background: linear-gradient(transparent 75%, rgba(255, 248, 54, .5) 70%);
}

/* PC用表示調整 */
@media (min-width: 768px) {
  h2 {
    font-size: 40px;
    letter-spacing: .1rem;
  }
}

/* ----------メインページ-index.html---------- */
/* カルーセルアイテム */
.main-image {
  overflow: hidden;
  position: relative;
	text-align: center;
}

.hidden {
  display: none;
}

.carousel-dots {
  text-align: center;
}

.carousel-dots button {
  border: none;
  width: 12px;
  height: 12px;
  background: #1a001a;
  cursor: pointer;
}

.carousel-dots button:hover {
  opacity: .8;
}

.carousel-dots button + button {
  margin-left: 8px;
}

.carousel-dots .current {
  background: var(--main-color);
}

.images {
  list-style: none;
  margin: 16px 0 0;
  padding: 0;
  height: 100%;
  display: flex;
  transition: transform .5s;
}

.images li {
  height: 100%;
  min-width: 100%;
}

.images li img {
  width: 85%;
  height: auto;
  object-fit: cover;
}

/* トップコンテンツ */
.container {
	margin-top: 16px;
	background: rgba(255, 255, 255, .5);
}

.store-about {
  padding: 40px;
}

/* ニュース */
#news .container {
	padding-bottom: 8px;
}

.news article:nth-child(1) {
	padding: 8px;
}
.news article + article {
	padding:  0 8px 8px;
}

.news article a {
	text-decoration: none;
	color: var(--sub-color);
}

.news article a:hover {
	text-decoration: underline;
	color: var(--main-color);
}

/* メニュー */
#menu .container {
	padding: 8px;
}

#menu h3 {
  font-size: 32px;
  font-family: 'Limelight', cursive;
  margin-top: 24px;
  text-align: center;
}

.deco-line {
  border-top: 2px solid var(--sub-color);
	border-image: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(186,110,255,1) 0%, rgba(74,0,87,1) 100%);
  border-image-slice: 1;

  width: 60%;
  margin: 0 auto;
}

.menu-about {
  padding: 32px;
}

.pc-menu-drink {
  margin-top: 16px;
}

.menu-drink {
  display: flex;
}
.menu-drink + .menu-drink {
  margin-top: 32px;
}

.menu-drink:nth-child(odd) {
  flex-direction: row-reverse;
}

.cocktail-img img {
  width: 240px;
  height: 320px;
}

.menu-drink p:nth-child(1){
  border-bottom: 2px solid #444;
  font-size: 20px;
}

@media (min-width: 768px) {
  .menu-drink {
    width: 50%;
    display: block;
  }
  .pc-menu-drink {
    display: flex;
    gap: 32px;
  }
  .menu-drink + .menu-drink {
    margin-top: 0;
  }
  .cocktail-img {
    text-align: center;
  }
  .cocktail-img img {
    width: 300px;
    height: 400px;
  }
  .menu-drink p:nth-child(1){
    border-bottom: none;
    text-align: center;
  }
  
}

/* コンタクト */
.contact-form {
  border: 1px solid red;
}

.contact-form p {
  margin-left: 8px;
  padding: 0;
}


.contact-form input {
  width: 240px;
  height: 28px;
  margin: 0 0 16px 8px;
}

.contact-form textarea {
  width: 60%;
  min-width: 240px;
  max-width: 80%;
  margin: 0 0 16px 8px;
}

.contact-form button {
	all: unset;
	width: 200px;
	margin: 8px auto 16px;
	padding: 4px;
	text-align: center;
	background: #eee;
	border-radius: 4px;
	cursor: pointer;
	user-select: none;
}

.contact-form button:hover {
	opacity: .8;
}

.contact-form button:active {
	opacity: 1;
	background: var(--sub-color);
}

@media (min-width: 768px) {
	.form-item {
    flex-wrap: nowrap;
  }
}

/* アクセス */
.access-info {
  padding: 32px 32px 16px 32px;
  text-align: center;
}

.access-info p{
  padding: 0;
}

/* 行間スタイル調整 */
.access-info p:nth-child(1){
  margin-bottom: 16px;
}
.access-info p:nth-last-child(1){
  margin-top: 16px;
}

.access-map {
  text-align: center;
}

.access-map img {
  width: 80%;
  margin-bottom: 24px;
}

@media (min-width: 1040px) {
  #access .container {
    display: flex;
    justify-content: space-between;
  }

  .access-map {
    margin: 0 auto;
    padding: 32px;
  }
	.access-map img {
    width: 400px;
    margin-bottom: 0;
  }
}

/* ----------記事ページ-news.html---------- */
.news-page{
  margin-top: 32px;
  background: rgba(255, 255, 255, .5);
}

.news-page h3{
  padding: 16px 0 0 16px;
  font-weight: bold;
}

.news-page img {
  margin-top: 16px;
  width: 80%;
}
@media (min-width: 768px) {
	.news-page img {
    width: 60%;
  }
}

#atc1 div {
  text-align: center;
}

.news-date {
  margin: 0;
  padding: 0 0 16px 16px;
  color: var(--main-color);
  border-bottom: 1px solid #BBB;
}

.page-viewer {
  margin-top: 40px;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Limelight', cursive;
}

.page-viewer button {
  all: unset;
  padding-left: 8px;
  color: #fff;
  font-size: 2rem;
  font-family:'Courier New', Courier, monospace;
}

.page-viewer button:hover {
  color: var(--sub-color);
  cursor: pointer;
  user-select: none;
}

.crt-num {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 8px;
}

.prev-num {
  font-size: 1.5rem;
  padding-left: 8px;
  opacity: .8;
}

.prev-num:hover {
  cursor: pointer;
  user-select: none;
  color: var(--sub-color);
  opacity: 1;
}

/* カレンダー */
.news-page table{
  margin: 16px auto 0;
  font-family: 'Courier New', monospace;
  font-size: 18px;
  border-collapse: collapse;
  border: 2px solid #eee;
  background: rgba(255, 255, 255, .3);
}

thead {
  background: #eee;
}

th,
td {
  padding: 8px;
  text-align: center;
}

tbody td:first-child {
  color: red;
}

tbody td:last-child {
  color: blue;
}

td.disabled {
  opacity: 0.3;
}

td.dayoff {
  background-color: var(--sub-color);
}

/* ----------メニューページ-menu.html---------- */
.menu-page{
  margin-top: 32px;
  color: #fff;
  /* background: rgba(255, 255, 255, .5); */
}

.menu-page h3{
  font-weight: bold;
  text-align: center;
}

.menu-page h4{
  font-size: 20px;
  margin: 32px 0 0 8px;
  border-bottom: 1px solid #777;
}

.menu-jump {
  display: flex;
}

.menu-page ul {
  list-style: none;
  margin: 16px 16px 0 16px;
  padding-left: 0;
}

.menu-img {
  display: flex;
  justify-content: space-around;
  gap:16px;
}

.menu-cocktail-img {
  text-align: center;
}

.menu-cocktail-img img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.menu-page li{
  margin: 16px 0;
}

.menu-price {
  float: right;
}

@media (min-width: 768px) {
  .menu-page ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .menu-page li {
    width: 45%;
  }
  .menu-cocktail-img img {
    width: 80%;
    height: auto;
  }
}

.bottom-caption {
  color: #fff;
}

